:root {
    --main-bg-color: #1C1C1C;
    --inner-bg-color: #F8EEE7;
    
    --col-purple: #331E38;
    --col-dk-blue: #1D2731;
    
    --col-dk-grey: #222222;
    --col-lt-grey: #CCCCCC;
}

body {
    margin: 60px auto;
    width: 70%;
    background-color: var(--main-bg-color);
    font-family: "Georgia", serif;
}

.content {
    background-color: var(--inner-bg-color);
    padding: 50px;
    padding-top: 10px;
    margin: 30px;
    margin-bottom: 50px; 
}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}


a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

article {
    margin: 50px 5px;   
}

h1 {
    font-weight: bold;
    color: var(--main-bg-color);
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

table, td {
    border-style: solid;
    border-width: 1px;   
    padding: 5px;
}

figcaption {
    font-size: 12pt;
}

img {
    border-style: solid;
    border-width: 2px;   
    display: block;
    margin: auto;
}

#Nearby_Sites_Table {
    margin: 0 auto;
    background-color: var(--col-dk-grey);
    color: var(--col-lt-grey);
}

.Nearby_Sites_Fig figcaption {
   margin: 10px 10px;
}

#Vision_Tool figure {
    margin: 20px auto;
    padding: 10px;
    background-color: var(--col-dk-grey);
}

#Vision_Tool figure img {
    width: 95%;
}

#White_Line {
    background-color: var(--col-lt-grey);   
    height: 1px;
    margin: 10px 0;
}

#Vision_Tool figure figcaption {
    color: var(--col-lt-grey);
    margin: 5px auto;
    width: 95%;
}


