<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
			
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		<body>

			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
					  	</button>
				  		<a class="navbar-brand" href="/">Liam Harris</a>
					</div>
					
					<div id="navbar" class="collapse navbar-collapse">
						
						<ul class="nav navbar-nav">
							<li class={% if page.url == "/" %}"active"{% endif %}>			<a href="/">Home</a></li>
							<li class={% if page.url == "/education/" %}"active"{% endif %}>	<a href="/education">Education</a></li>
							<li class={% if page.url == "/android/" %}"active"{% endif %}>		<a href="/android">Android</a></li>
							<li class={% if page.url == "/unity/" %}"active"{% endif %}>		<a href="/unity">Unity</a></li>
						</ul>
						
						<ul class="nav navbar-nav navbar-right">
							<li><a href=".content">Top</a></li>
						</ul>
						
					</div><!--/.nav-collapse -->
				</div>
			</nav>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rlygoodemail@gmail.com">email</a></li>
	        		<li><a href="https://github.com/harrl7">github.com/harrl7</a></li>
				</ul>
			</footer>
		</body>
	</html>
